html,
body {
    scroll-behavior: smooth;
    background-color: white;
    font-size: 22px;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.jumbotron {
    padding: 2em 0 !important;
}

.restaurant {
    margin: auto;
    letter-spacing: 2px;
    color: #0064c6;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: -4px 2px 3px rgba(150, 150, 150, 1);
}

footer {
    font-size: 14px;
}


/* BOOTSTRAP EDIT CLASSES */

.jumbotron {
    margin-bottom: 0px !important;
}

.navbar {
    background: #e9ecef !important;
}

.card-img-top {
    width: 100%;
    height: 100px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.padding-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.card-body>.btn {
    white-space: pre-wrap;
}

.img-comments {
    width: 100%;
}

.comment {
    min-height: 20px;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.comment>p {
    font-size: 15px;
    margin: 0;
}

.search-btn {
    border-top-right-radius: .2rem !important;
    border-bottom-right-radius: .2rem !important;
}

.form-control.searchInput {
    border-color: #6c757d !important;
    background: #e9ecef;
}

.form-control:focus {
    background-color: #ced4da !important;
    border-color: #ced4da !important;
}

.form-control:focus,
.btn.focus,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: none !important;
    outline: none !important;
}

.navbar-toggler {
    border-color: #6c757d !important;
}

li.nav-item.active {
    background: #6c757d;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.carousel-indicators {
    bottom: -35px !important;
}

.carousel-indicators li {
    background: rgb(245, 245, 245);
    border: 1px solid #848688;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #848688 !important;
}

@media only screen and (max-width: 575px) {
    .carousel-item {
        height: 350px;
    }
    .carousel-item>img {
        height: 350px;
    }
    .btnMap {
        width: 100%;
    }
    li.nav-item.active {
        padding-left: 1em !important;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .carousel-inner {
        height: 350px !important;
    }
}