/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #F48B1E;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, #f48b1e, #e57010, #d55404, #c53500, #b30000);
}

html,
body {
    scroll-behavior: smooth;
    background-color: white;
    font-family: 'Alfa Slab One';
    font-size: 22px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 'header' 'nav' 'section' 'aside' 'footer';
}

.logo {
    width: 5%;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
    margin: 10px;
}

.restaurant {
    width: 90%;
    margin: auto;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    text-shadow: -4px 2px 3px rgba(150, 150, 150, 1);
}

a:hover {
    color: white;
}

article {
    width: 80%;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
}

div.title {
    width: 100%;
    display: inline-block;
    text-align: center;
    text-shadow: -2px 0 #62A3C1, 0 2px #62A3C1, 2px 0 #62A3C1, 0 -2px #62A3C1;
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
}

.subtitle {
    font-weight: 900;
    margin: 40px;
    padding: auto;
    height: 100px;
}

.slogan {
    font-family: 'Aleo';
    font-size: 22px;
    font-style: italic;
    margin: 30px;
    padding: auto;
    height: auto;
}

.imgmapmex {
    width: 100%;
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.imgmapmex>img {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #62A3C1;
    width: 100%;
    padding: 20px;
}

.wrapperTitle {
    width: 40%;
    background: #A0D3F0;
}

.wrapperText {
    background-color: white;
    border: #A0D3F0 solid 1px;
    padding: 10px;
    font-family: "Aleo" !important;
}

.wrapperText a {
    color: #62A3C1;
    text-decoration: none
}

.wrapperText a:hover {
    color: #A0D3F0;
}

aside {
    grid-area: aside;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
}

footer {
    grid-area: footer;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
    margin: 80px 0px 10px 0px;
}

.banner {
    background-image: url(/IMG/banner.jpg );
    background-repeat: repeat-x;
    background-size: 20%;
    height: 60px;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    html,
    body {
        scroll-behavior: smooth;
        font-size: 12px;
    }
    .logo {
        width: 20%;
        margin: auto;
    }
    .restaurant {
        width: 70%;
        font-size: 25px;
        letter-spacing: 1px;
    }
    nav>label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: #394B4F 1px solid;
    }
    #toggle:checked+.menu {
        display: block;
    }
    section {
        min-height: 400px;
    }
    article {
        width: 100%;
        margin: 10px 5px 10px 5px;
    }
    div.title {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .subtitle {
        font-weight: 100;
        margin: 20px;
        height: 10px;
    }
    .slogan {
        font-size: 12px;
        font-style: italic;
        margin: auto;
    }
    .wrapper {
        width: 100%;
        padding: 5px;
    }
    .wrapperTitle {
        width: 45%;
    }
    .wrapperText {
        padding: 5px;
    }
    .wrapperText>img {
        width: 5%;
    }
    aside {
        margin-top: 10px;
    }
    aside>a>img {
        width: 10%;
    }
    .banner {
        height: 30px;
    }
}


/* BOOTSTRAP EDIT CLASSES */

.jumbotron {
    margin-bottom: 0px !important;
}

.card-img-top {
    width: 100%;
    height: 100px;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.padding-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}